Parser/Models/XsdModel.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
 <xs:simpleType name="Status" final="restriction" >
    <xs:restriction base="xs:string">
        <xs:enumeration value="Approved" />
        <xs:enumeration value="Rejected" />
        <xs:enumeration value="Done" />
    </xs:restriction>
</xs:simpleType>
  <xs:element name="Transactions">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Transaction" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:dateTime" name="TransactionDate"/>
              <xs:element name="PaymentDetails">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:decimal" name="Amount"/>
                    <xs:element type="xs:string" name="CurrencyCode"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="Status" name="Status"/>
            </xs:sequence>
            <xs:attribute type="xs:string" name="id"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>